[submodule "doc"]
	path = doc
	url = git@github.com:alexgorbatchev/jquery-textext-doc.git
[submodule "vendor/watchjs"]
	path = vendor/watchjs
	url = git://github.com/melanke/Watch.JS.git
[submodule "vendor/resistance"]
	path = vendor/resistance
	url = git://github.com/jgallen23/resistance.git
[submodule "vendor/mocha"]
	path = vendor/mocha
	url = https://github.com/visionmedia/mocha.git
[submodule "vendor/chai"]
	path = vendor/chai
	url = git://github.com/chaijs/chai.git
[submodule "vendor/chai-jquery"]
	path = vendor/chai-jquery
	url = git://github.com/chaijs/chai-jquery.git
[submodule "vendor/sinon-chai"]
	path = vendor/sinon-chai
	url = git://github.com/domenic/sinon-chai.git
