@import '_common'

.{$prefix}core .{$prefix}wrap .{$prefix}dropdown
	border_box()
	padding    : 0
	position   : absolute
	z-index    : 3
	background : #fff
	border     : 1px solid $border
	width      : 100%
	max-height : 100px
	padding    : 1px
	font       : $font
	display    : none
	overflow-x : hidden
	overflow-y : auto

	&.{$prefix}position-below
		margin-top: 1px;

	&.{$prefix}position-above
		margin-bottom: 1px;

	.{$prefix}list
		.{$prefix}suggestion
			padding : 3px 5px
			cursor  : pointer

			em
				font-style      : normal
				text-decoration : underline

			&.{$prefix}selected
				color      : #fff
				background : $selected

