@import '_common'

.{$prefix}core
	position   : relative

	.{$prefix}wrap
		position : absolute
		background : #fff

		textarea, input
			border_box()
			round_corners(0px)
			border      : 1px solid $border
			outline     : none
			resize      : none
			position    : absolute
			z-index     : 1
			background  : none
			overflow    : hidden
			margin      : 0
			padding     : 3px 5px 4px 5px
			white-space : nowrap
			font        : $font
			line-height : 13px
			height      : auto

