@border   : #9DACCC;
@selected : #6D84B4;
@font     : 11px "lucida grande",tahoma,verdana,arial,sans-serif;

.reset() {
  margin         : 0;
  padding        : 0;
  height         : auto;
  box-shadow     : none;
  border         : none;
  outline        : none;
  resize         : none;
  background     : none;
  text-transform : none;
  border-radius  : 0;
  opacity        : 1;
  color          : #000;

  -webkit-transition : none;
  -moz-transition    : none;
  -ms-transition     : none;
  -o-transition      : none;
  transition         : none;

  .input_font;
}

.input_font() {
  font        : @font;
  line-height : 13px;
}

.border(@color: @border) {
  .inner_border(@color);
}

.box_border(@color: @border) {
  -webkit-box-shadow : inset 0 0 0px 1px @color, 2px 2px 5px -1px rgba(0,0,0,.2);
  -moz-box-shadow    : inset 0 0 0px 1px @color, 2px 2px 5px -1px rgba(0,0,0,.2);
  box-shadow         : inset 0 0 0px 1px @color, 2px 2px 5px -1px rgba(0,0,0,.2);
}

.inner_border(@color) {
  -webkit-box-shadow : inset 0 0 0px 1px @color;
  -moz-box-shadow    : inset 0 0 0px 1px @color;
  box-shadow         : inset 0 0 0px 1px @color;
}

.border_box() {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  box-sizing         : border-box;
}

.shadow(@_) {
  -webkit-box-shadow : @arguments;
  -moz-box-shadow    : @arguments;
  box-shadow         : @arguments;
}

.round_corners(@_) {
  -webkit-border-radius : @arguments;
  -moz-border-radius    : @arguments;
  border-radius         : @arguments;
}
