@import '_common';

@tag_color : #E2E6F0;

.textext .textext-tags {
  .input_font;
  .border_box;

  width         : 100%;
  padding       : 3px;
  margin-bottom : -2px;
  display       : inline-block;

  > .textext-input {
    width    : 1px;
    float    : left;
    margin   : 1px 2px 1px 0px;
    padding  : 0;
    height   : 17px;
  }

  > .textext-items-item {
    .round_corners(2px);
    .border_box;
    .border;

    float      : left;
    position   : relative;
    background : @tag_color;
    color      : #000;
    padding    : 1px 18px 1px 4px;
    margin     : 0 2px 2px 0px;
    cursor     : pointer;
    height     : 17px;

    a {
      position   : absolute;
      right      : 3px;
      top        : 3px;
      width      : 11px;
      height     : 11px;
      display    : block;
      background : url("../images/close.png") 0 0 no-repeat;

      &:hover { background-position: 0 -11px; }
      &:active { background-position: 0 -22px; }
    }
  }
}
