$close    = 'close.png'
$border   = #9DACCC
$selected = #6D84B4
$prefix   = 'text-'
$font     = 11px "lucida grande",tahoma,verdana,arial,sans-serif

vendor(prop, args)
	-webkit-{prop} : args
	-moz-{prop}    : args
	{prop}         : args

border_box()
	vendor('box-sizing', border-box)

shadow(args...)
	vendor('box-shadow', args)

round_corners(args...)
	vendor('border-radius', args)

