.text-core {
  position: relative;
  background: #fff;
}
.text-core .text-wrap {
  position: absolute;
}
.text-core .text-wrap textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #9daccc;
  outline: none;
  resize: none;
  position: absolute;
  z-index: 1;
  background: none;
  overflow: hidden;
  margin: 0;
  padding: 3px 5px 4px 5px;
  white-space: nowrap;
  font: 11px "lucida grande", tahoma, verdana, arial, sans-serif;
}
.text-core .text-wrap textarea:focus {
  -webkit-box-shadow: 0px 0px 6px #6d84b4;
  -moz-box-shadow: 0px 0px 6px #6d84b4;
  box-shadow: 0px 0px 6px #6d84b4;
}
