.autosuggest {
  position: relative;
  background: #fff;
}
.autosuggest .wrap {
  position: absolute;
}
.autosuggest .wrap .dropdown {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  position: absolute;
  z-index: 3;
  background: #fff;
  border: 1px solid #9daccc;
  width: 100%;
  top: 100%;
  max-height: 100px;
  padding: 1px;
  font: 11px "lucida grande", tahoma, verdana, arial, sans-serif;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
}
.autosuggest .wrap .dropdown .list .suggestion {
  padding: 3px 5px;
  cursor: pointer;
}
.autosuggest .wrap .dropdown .list .suggestion.selected,
.autosuggest .wrap .dropdown .list .suggestion:hover {
  background: #6d84b4;
}
.autosuggest .wrap .tags {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 3px 35px 3px 3px;
  cursor: text;
}
.autosuggest .wrap .tags .tag {
  float: left;
}
.autosuggest .wrap .tags .tag button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  float: left;
  border: 1px solid #9daccc;
  background: #e2e6f0;
  color: #000;
  padding: 0px 17px 0px 3px;
  margin: 0 2px 2px 0;
  cursor: pointer;
  height: 16px;
  font: 11px "lucida grande", tahoma, verdana, arial, sans-serif;
}
.autosuggest .wrap .tags .tag button a {
  position: absolute;
  right: 3px;
  top: 2px;
  display: block;
  width: 11px;
  height: 11px;
  background: url("close.png") 0 0 no-repeat;
}
.autosuggest .wrap .tags .tag button a:hover {
  background-position: 0 -22px;
}
.autosuggest .wrap .tags .tag button a:active {
  background-position: 0 -33px;
}
.autosuggest .wrap textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #9daccc;
  position: absolute;
  z-index: 1;
  background: none;
  overflow: hidden;
  margin: 0;
  padding: 3px 5px 4px 5px;
  resize: none;
  white-space: nowrap;
  font: 11px "lucida grande", tahoma, verdana, arial, sans-serif;
}
